IS_DEBUG=True
SECRET_KEY=xxxxxxxxxxxxxxxxxx
DB_HOST=aws-0-eu-central-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.xxxxxx
DB_PASSWORD=xxxxxxxxx
REDIS_HOSTNAME=xxxxxx-xxxxx-xx.upstash.io
REDIS_PORT=6379
REDIS_PASSWORD=xxxxxxxxxx
REDIS_SSL=True