{% extends 'base.html' %}

{% block content %}
<div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Dashboard
    </h2>
    <!-- Cards -->
    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
        <!-- Card -->
        <a href="{{ url_for('landlords') }}"
            class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
                <i class="fa fa-binoculars w-5 h-5" aria-hidden="true"></i>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Total Landlords
                </p>
                <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                    {{ landlords }}
                </p>
            </div>
        </a>
        <!-- Card -->
        <a href="{{ url_for('properties') }}"
            class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
                <i class="fa fa-institution w-5 h-5" aria-hidden="true"></i>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Total Properties
                </p>
                <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                    {{ properties }}
                </p>
            </div>
        </a>
        <!-- Card -->
        <a href="{{ url_for('houses') }}"
            class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
                <i class="fa fa-home w-5 h-5" aria-hidden="true"></i>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Total House Units
                </p>
                <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                    {{ houses }}
                </p>
            </div>
        </a>
        <!-- Card -->
        <a href="{{ url_for('tenants') }}"
            class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
                <i class="fa fa-users w-5 h-5" aria-hidden="true"></i>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Total Tenants
                </p>
                <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                    {{ tenants }}
                </p>
            </div>
        </a>
        <!-- Card -->
        <a href="{{ url_for('houses', status='vacant') }}"
            class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
                <i class="fa fa-building w-5 h-5" aria-hidden="true"></i>
            </div>
            <div>
                <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                    Total Vacant Houses
                </p>
                <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                    {{ houses - tenants }}
                </p>
            </div>
        </a>
    </div>
</div>

{% endblock %}